/* 顶部广告 start */

.header{
    width: 100%; /* 充满全屏 */
    height: 120px;
    overflow: hidden; /* 隐藏超出容器的部分 */
    position: relative; /* 让 img 的绝对定位是相对于父级的 header 定位进行调整 */
}

/* 让图片居中显示 */
.header img{
    height: 120px; /* 图片高度与容器一致，因为图片是充满整个容器的 */
    position: absolute; /* 绝对定位 */
    left: 50%; /* 距离最左侧百分之50的屏幕 */
    transform: translateX(-50%); /* x 轴向左平移 50% 使图片居中 */
}
/* 顶部广告 end */

/* 黑色导航 start */
.black-nav{
    width: 100%;
    height: 40px;
    line-height: 40px; /* 实现一行内容上下居中 */
    background-color: #333;
    font-size: 12px;
}
/* 设置容器的左右居中 */
.wrap{
    width: 1226px;
    margin: 0 auto;
}
/* 添加父级容器，以避免重名而导致优先级改变的问题 */
.black-nav .wrap .black-nav-left{
    float: left; /* 左侧导航居左显示 */
}
.black-nav .wrap .black-nav-right{
    float: right; /* 右侧导航居右显示 */
}
/* 让 li 标签向左浮动，处在同一行而不是同一列 */
.black-nav .wrap li{
    float: left;
    position: relative;
}
/* 设置竖线 */
.black-nav .wrap li span{
    color: #424242; 
    margin: 0 3.6px; /* 设置边距，上下为 0,左右为 3.6px */
}
/* 设置标签字体颜色 */
.black-nav a{
    color: #b0b0b0;
}
.download{
    width: 124px;
    height: 0; /* 默认不出现 */
    background-color: #fff;
    box-shadow: 0 1px 5px #aaa;
    position: absolute;
    top: 40px; /* 距离顶部 */
    left: 50%;
    margin-left: -62px;
    overflow: hidden;
    z-index: 3;
}
.download img{
    width: 90px;
    margin: 18px auto 0;
}
.download p{
    color: #333;
    font-size: 12px;
    line-height: 12px;
}
/* 当鼠标悬浮到下载上时才会出现 */
.black-nav-left li:hover>.download{
    height: 148px;
}
/* 实现箭头 */
.stri{
    width: 0;
    height: 0;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    display: none;
}

.black-nav-left>li:hover>.stri{
    display: block;
}

/* 购物车 */
.cart{
    width: 120px;
    height: 40px;
    background-color: #424242;
    margin-left: 25px;
}
.cart:hover{
    background-color: #fff;
}
.cart:hover>a{
    color: #ff6700;
}
/* 让字体变成正常 */
.cart i{
    font-style: normal;
    margin-right: 8px;
}
.cart-list{
    width: 316px;
    height: 0;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    position: absolute;
    right: 0;
    top: 40px;
    color: #424242;
    overflow: hidden;
    line-height: 100px;
}
.cart:hover>.cart-list{
    height: 100px;
}
/* 黑色导航 end */

/* 白色导航 start */

.white-nav{
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: relative;
    z-index: 2; /* 设置较高的 z-index 值，用于指定定位元素的层叠顺序 */
    /* 具有较高 z-index 值的元素将会位于具有较低 z-index 值的元素之上 */
}
.logo{
    width: 55px;
    height: 55px;
    background-color: #ff6700;
    float: left;
    margin-top: 22.5px;
    overflow: hidden;
    position: relative;
    border-radius: 10px; /* 让 logo 图片圆角效果 */
}
.logo>img{
    width: 100%;
    height: 55px;
    position: absolute;
    top: 0;
    transition: all 0.2s; /* 实现动画效果 */
}
.mi-home{
    left: -55px;
}
.mi-logo{
    left: 0;
}
.logo:hover>.mi-home{
    left: 0;
}
.logo:hover>.mi-logo{
    left: 55px;
}
.nav-bar{
    width: 875px;
    height: 100px;
    line-height: 100px; /* 是他上下居中 */
    float: left;
}
.search{
    width: 296px;
    height: 100px;
    float: right;
}
.nav-bar li{
    float: left;
}
.nav-bar li a{
    color: #333;
    padding: 0 10px; /* 左右间隔 10px */
}
/* 鼠标移动上去颜色变成橘黄色 */
.nav-bar li a:hover{
    color: #ff6700;
}
.nav-bar ul li img{
    margin-top: 22.5px; /* 距离顶部为 22.5px */
}
/* 设置搜索框 */
.search input{
    width: 244px;
    height: 50px;
    float: left;
    border: 1px solid #e0e0e0; 
    box-sizing: border-box; /* 盒模型 */
    margin-top: 25px;
    padding: 0 10px; /* 让输入框中的文本向右侧移动 10px */
    border-right: 0; /* 将右边框置为 0 */
    outline: none; /* 让选中文本框后不会有黑色边框 */
}
.search button{
    /* 296 - 244 = 52 */
    width: 52px;
    height: 50px;
    float: right;
    border: 1px solid #e0e0e0;
    margin-top: 25px;
}
.search button:hover{
    background-color: #ff6700;
    color: #fff;
}
.nav-bar-list{
    width: 100%;
    height: 229px;
    background-color: #fff;
    border-top: 1px solid #eee;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    top: 100px;
    display: none;
    z-index: 1; /* 设置较低的 z-index 值 */
}
.nav-bar li:hover>.nav-bar-list{
    display: block;
}
.nav-bar-list li{
    line-height: normal;
    border-right: 1px solid #eee; /* 让右侧有一条灰白色竖线 */
}
.nav-bar-list .name{
    font-size: 12px;
    color: #333;
}
.nav-bar-list .price{
    font-size: 12px;
    color: #ff6700;
}

/* 白色导航 end */

/* Banner start */

.banner{
    width: 100%;
    height: 460px;
}
.banner img{
    width: 100%;
}
.banner>.wrap{
    position: relative;
}
.slide{
    width: 234px;
    height: 420px;
    padding: 20px 0; /* 上下分别距离顶部、底部 20 px, 420px + 20px * 2 = 460px */
    background-color: rgba(105, 101, 101, 0.6);
    position: absolute;
    left: 0;
    top: 0;
}
.slide>ul>li{
    height: 42px;
    line-height: 42px;
    text-align: left;
    padding-left: 30px;
    font-size: 14px;
}
/* 修改字体颜色 */
.slide>ul>li>a{
    color: #fff;
}
/* 让 > 符号靠右摆放 */
.slide i{
    float: right;
    /* 让它稍微再往左侧靠一点 */
    padding-right: 20px;
}
/* 当鼠标悬浮，颜色变为橘色 */
.slide>ul>li:hover{
    background-color: #ff6700;
}
.slide-list{
    height: 460px;
    /* 1226px - 234px */
    width: 992px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
    position: absolute;
    left: 234px;
    top: 0;
    display: none;
}
.slide-list ul{
    width: 100%;
}
.slide-list ul li{
    width: 240px;
    height: 76px;
    float: left;
    padding: 18px 0 18px 20px;
    box-sizing: border-box;
    line-height: 76px;
}
.slide-list img{
    width: 40px;
    margin-right: 10px;
}
.slide-list span{
    color: #333;
    font-size: 14px;
    position: relative;
    top: -10px;
}
.slide-list li:hover span{
    color: #ff6700;
}
.slide li:hover .slide-list{
    display: block;
}

/* Banner end */

/* ad start */

.ad{
    width: 100%;
    height: 170px;
    padding: 14px 0;
    background-color: #fff;
}
.ad-aside{
    width: 234px; /* 宽度和上方的一样 */
    height: 170px;
    background-color: #5f5750;
    padding: 3px;
    box-sizing: border-box;
    font-size: 12px;
    float: left;
}
.ad-aside li{
    float: left;
    /* (234 - 6) / 3 */
    width: 76px;
    height: 82px;
    padding-top: 18px;
    box-sizing: border-box;
    opacity: 0.7; /* 设置透明度 */
}
/* 设置图标 */
.ad-aside i{
    font-size: 24px;
    margin-bottom: 4px; /* 让图片和文本有一点空隙 */
    display: block;
    color: #fff;
}
.ad-aside p{
    color: #fff;
}
.ad-aside li:hover{
    opacity: 1; /* 当鼠标悬浮上去，透明度变为完全不透明 */
}
.ad-img{
    /* 316 * 3 = 948px */
    width: 316px;
    margin-left: 14.6px;
    height: 170px;
    float: left;
}
.ad-img img{
    width: 100%;
}

/* ad end */

/* content start */

.content{
    width: 100%;
    background-color: #f1f1f1;
    overflow: hidden;
    padding: 4px 0 12px;
}

/* content end */

/* 手机模块 start */

.title{
    text-align: left;
    color: #333;
    font-size: 22px;
    font-weight: 200; /* 设置粗细 */
    line-height: 58px;
}
.phone-box{
    width: 100%;
    height: 614px; /* 整个图片高度为 614px，作为基准 */
}
.phone-box-left{
    width: 234px;
    height: 614px;
    float: left;
}
.phone-box-right{
    width: 992px;
    height: 614px;
    float: left;
}
.item{
    /* (992 - 14px * 4) / 4 = 234px */
    width: 234px;
    margin: 0 0 14px 14px;
    height: 300px;
    background-color: #fff;
    padding: 20px 0;
    box-sizing: border-box;
    float: left;
    /* 设置动画时间 */
    transition: all 0.2s linear;
}
/* 当鼠标悬浮上去添加一个移动的动画 */
.item:hover{
    transform: translateY(-2px);
    /* 设置阴影 */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.item-img{
    width: 160px;
    margin-bottom: 18px;
}
.item-name{
    width: 214px;
    height: 21px;
    color: #333;
    line-height: 21px;
    margin: 0 auto 2px;
}
.item-desc{
    width: 214px;
    height: 18px;
    color: #b0b0b0;
    font-size: 12px;
    line-height: 18px;
    margin: 0 auto 10px;
}
.item-price{
    color: #ff6700;
    font-size: 14px;
}
.big-img{
    width: 100%;
    height: 120px;
    margin: 22px 0;
}

/* 手机模块 end */

/* 家电模块 start */

.elc-box{
    width: 100%;
    height: 614px;
}
.elc-item{
    padding: 0;
    margin-left: 0px;
}
.item-price>del{
    color: #b0b0b0;
    /* 增加与左边的字的空隙 */
    margin-left: 5px;
}
.item-last{
    width: 234px;
    height: 300px;
    float: left;
    margin-left: 14px;
}
.item-last div{
    width: 234px;
    height: 143px;
    background-color: #fff;
    transition: all 0.2s linear; /* linear 是匀速 */
}
.item-last>div:first-child{
    margin-bottom: 14px;
}
.item-last>div:hover{
    transform: translateY(-2px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

/* 家电模块 end */

/* 视频模块 start */

.video-box{
    width: 100%;
    height: 299px;
}
.video-box>div{
    width: 296px;
    height: 285px;
    background-color: #fff;
    float: left;
    margin-bottom: 14px;
    margin-right: 14px;
    transition: all 0.2s linear;
}
/* 将最右边元素的右边距置空 */
.video-box>div:last-child{
    margin-right: 0;
}
.video-box>div:hover{
    transform: translateY(-2px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.video-img{
    width: 100%;
    height: 180px;
    margin-bottom: 28px;
    position: relative;
}
.btn{
    width: 32px;
    height: 20px;
    border-radius: 12px;
    border: 2px solid #fff;
    position: absolute;
    left: 20px;
    bottom: 10px;
}
/* 绘制播放按钮中的三角形 */
.sanjiao{
    width: 0;
    height: 0;
    border-left: 8px solid #fff;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    margin: 5px auto;
}
.video-name{
    color: #333;
    font-size: 14px;
    width: 285px;
    height: 21px;
    margin: 0 auto 6px;
}
.video-desc{
    width: 285px;
    height: 18px;
    margin: 0 auto;
    color: #b0b0b0;
    font-size: 12px;
}
/* 当鼠标悬浮到按钮上，按钮的颜色以及边框颜色变为橘黄色 */
.video-img:hover .btn{
    background-color: #ff6700;
    border-color: #ff6700;
}

/* 视频模块 end */

/* 页脚模块 start */

.footer-service{
    width: 100%;
    height: 25px;
    line-height: 25px; /* 上下居中 */
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0; /* 底下设置一条灰色的线 */
}
.footer-service li{
    float: left;
    width: 20%; /* 每个占五分之一 */
    border-right: 1px solid #b0b0b0;
    box-sizing: border-box;
}
.footer-service li:last-child{
    border-right: 0;
}
.footer-service i{
    font-size: 24px;
    margin-right: 6px;
}
.footer-service a{
    color: #616161;
}
.footer-service a:hover{
    color: #ff6700;
}
.footer-link{
    width: 100%;
    height: 172px;
    padding: 40px 0;
}
.footer-link ul{
    float: left;
    width: 160px;
    text-align: left;
    color: #424242;
    font-size: 14px;
    line-height: 1.25;
}
.footer-link ul a{
    font-size: 12px;
    color: #757575;
}
.footer-link ul li{
    margin-top: 10px;
}
.footer-aside{
    width: 250px;
    height: 111px;
    border-left: 1px solid #e0e0e0;
    float: right;
    color: #616161;
}
.footer-aside .tel{
    font-size: 22px;
    line-height: 22px; /* 上下居中 */
    color: #ff6700;
    margin-bottom: 5px;
}
.footer-aside .time{
    font-size: 12px;
    margin-bottom: 5px;
}
.kefu{
    display: block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ff6700;
    box-sizing: border-box;
    margin: 0 auto;
    color: #ff6700;
    font-size: 12px;
    transition: all 0.4s
}
.kefu:hover{
    background-color: #ff6700;
    border-color: #ff6700;
    color: #fff;
}
.follow{
    font-size: 12px;
    margin-top: 10px;
}
.follow img{
    width: 24px;
    margin-left: 6px;
    position: relative;
    top: 7px;
}

/* 页脚模块 end */